.header-wrapper {
  padding: 40px 200px;
  display: flex;
  justify-content: space-between;
  .lang-log-wrapper {
    display: flex;
    justify-content: space-around;
    column-gap: 2.4rem;
  }
}
/* 모바일 */
@media (max-width: 768px) {
  .header-wrapper {
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
  }
  .lang-log-wrapper {
    column-gap: 1.5rem;
  }
}
