.footer {
  color: #919191;
  font-family: Spoqa Han Sans Neo;
  display: flex;
  flex-flow: column nowrap;
  .paragraph {
    display: flex;
    letter-spacing: -0.01px;
  }
  & address {
    font-style: normal;
    & p {
      font-weight: 700;
    }
  }

  & a {
    width: 100%;
  }
}

/* 데스크톱*/
@media (min-width: 768px) {
  .footer {
    padding: 5rem 20rem;
    row-gap: 46px;
  }
  .paragraph {
    & p {
      font-size: 2rem;
      margin-block: 0;
      letter-spacing: -0.01px;
    }
  }
  & a {
    font-size: 1.6rem;
    color: #acacac;
  }
  & ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 1.6rem;
  }

  & li {
    font-size: 1.6rem;
    height: 1em;
  }
  & address > p {
    font-size: 2.2rem;
    margin-bottom: 16px;
  }
  & address > span {
    font-size: 1.6rem;
    font-weight: 400;
    display: block;
    line-height: 150%;

    color: #919191;
  }
}

/* 모바일 */
@media (max-width: 768px) {
  .footer {
    padding: 4rem 2.5rem;
    row-gap: 3rem;
  }
  .paragraph {
    flex-flow: column;
    & p {
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: -0.01px;
      word-break: break-word;
    }
  }
  & a {
    font-size: 1.4rem;
    color: #919191;
  }
  & ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 21px;
    & li {
      display: inline;
      font-size: 1.4rem;
      height: 1em;
      margin-bottom: 2.1rem;
    }
  }
  & address > p {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  & address > span {
    font-size: 1.4rem;
    line-height: 150%;
    display: block;
    font-weight: 400;
  }
}
