.language-toggle {
  font-size: 1.6rem;
  color: #757575;
  border: #757575 1px solid;
}

.select-wrapper {
  position: relative;
  & select,
  & option {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: #757575;
    background: transparent;
  }
}
.global-icon,
.toggle-icon {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
}
.global-icon {
  background: url("/images/global.svg");
}
.toggle-icon {
  background: url("/images/toggle.svg");
}

/* 데스크톱 */
@media (min-width: 768px) {
  .language-toggle {
    width: 130px;
    height: 40px;
    padding: 10.5px 34px;
  }
  .global-icon {
    top: 12px;
    left: 10px;
  }
  .toggle-icon {
    top: 12px;
    left: 90px;
  }
}

/* 모바일 상단 */
@media (max-width: 768px) {
  .language-toggle {
    width: 113px;
    height: 30px;
    padding: 5.5px 34px;
  }
  .global-icon {
    top: 7px;
    left: 10px;
  }
  .toggle-icon {
    top: 7px;
    left: 87px;
  }
}
