<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>언어 선택 컴포넌트</title>
    <link rel="stylesheet" href="./../../style.css" />
  </head>
  <body>
    <div class="select-wrapper">
      <h2 class="sr-only">언어 선택</h2>
      <select class="language-toggle">
        <option value="한국어">한국어</option>
        <option value="영어">영어</option>
      </select>
      <span class="global-icon" aria-hidden="true"></span>
      <span class="toggle-icon" aria-hidden="true"></span>
    </div>
  </body>
</html>
