/* 로고 공통 */
.logo-link,
.kor-logo-link {
  display: block;
  text-decoration: none;
  & img {
    width: 100%;
  }
}

/* 데스크톱 */
@media (min-width: 768px) {
  .logo-link {
    width: 14rem;
    height: 3.8rem;
  }
  .kor-logo-link {
    width: 15.8rem;
    height: 2.76rem;
  }
}

/* 모바일 */
@media (max-width: 768px) {
  .logo-link {
    width: 8rem;
    height: 2.2rem;
  }
  .kor-logo-link {
    width: 14.4rem;
    height: 3rem;
  }
}
