/* 로고 공통 */
.logo-link,
.kor-logo-link {
  display: block;

  & img {
    width: 100%;
  }
}

/* 데스크톱 */
@media (min-width: 768px) {
  .logo-link {
    width: 140px;
    height: 38px;
  }
  .kor-logo-link {
    width: 158px;
    height: 26px;
  }
}

/* 모바일 */
@media (max-width: 768px) {
  .logo-link {
    width: 80px;
    height: 22px;
  }
  .kor-logo-link {
    width: 144px;
    height: 3px;
  }
}
