/* 로고 공통 */
.logo-link,
.kor-logo-link {
  display: block;
  & img {
    width: 100%;
  }
}

/* 데스크톱 */
@media (min-width: 768px) {
  .logo-link {
    width: 8.75em;
    height: 2.3125em;
  }
  .kor-logo-link {
    width: 9.9375em;
    height: 1.625em;
  }
}

/* 모바일 */
@media (max-width: 768px) {
  .logo-link {
    width: 5em;
    height: 1.375em;
  }
  .kor-logo-link {
    width: 9em;
    height: 1.875em;
  }
}
