/* 로그인, 30일 무료 버튼 공통 */
.link-btn {
  font-family: "Spoqa Hans Sans Neo", sans-serif;
  color: #ffffff;
  display: inline-block;
  box-sizing: border-box;
  font-weight: 700;
}

/* 로그인버튼 */
.login-btn {
  border-radius: 4px;

  text-align: center;
  background-color: #e50914;
  &:hover {
    background: #b70710;
  }
}

/* 데스크톱 로그인 */
@media (min-width: 768px) {
  .login-btn {
    font-size: 1.6rem;
    width: 4.375em;
    height: 2.5em;
    line-height: 2.5em;
    aspect-ratio: 7/4;
  }
}

/* 모바일 로그인 */
@media (max-width: 768px) {
  .login-btn {
    font-size: 1.2rem;
    width: 5em;
    height: 3rem;
    line-height: 3rem;
    aspect-ratio: 2/1;
  }
}

/* 30일 무료 이용 버튼 */
.free-form {
  display: flex;
  position: relative;

  & input,
  & a {
    padding: 0 20px;
  }
  .free-btn {
    background-color: #e50914;
    display: block;
  }
  .free-btn.is--invalid {
    background: #757575;
  }
}

/* 모바일 30일 무료 이용버튼 */
@media (max-width: 768px) {
  .free-form {
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
    align-items: center;
    & label {
      font-size: 1.4rem;
      font-weight: 400;
      position: absolute;
      top: 10px;
      left: 20px;
      color: #2f2f2f;
    }
    & label.is--active {
      top: -20px;

      color: #e50914;
    }
    & input,
    & a {
      border-radius: 1.875em;
      height: 2.5em;
      font-size: 1.4rem;
    }
    & a {
      margin: auto 0;
    }
  }

  & input {
    width: 24.5rem;
    height: 4rem;
    margin-bottom: 12px;
  }
  & a {
    aspect-ratio: 4/1;
    width: 16rem;
    height: 4rem;
    line-height: 4rem;
    & svg {
      padding-left: 0.4em;
      height: 0.9em;
      width: 1.5714285714285714em;
    }
  }
}

/* 데스크톱 30일 무료 이용버튼 */
@media (min-width: 768px) {
  .free-form {
    flex-flow: row;

    & input {
      box-sizing: border-box;
      font-size: 1.6rem;
      height: 6rem;
      width: 54rem;
    }
    & a {
      box-sizing: border-box;
      font-size: 2.2rem;
      width: 21rem;
      height: 6rem;
      aspect-ratio: 7/2;
      line-height: 6rem;
      & svg {
        padding-left: 0.4em;
      }
    }
  }
  & label.email-label,
  & span.is--invalid {
    position: absolute;
    pointer-events: none;

    font-size: 1.4rem;
  }
  .email-label {
    top: 24px;
    left: 20px;
    font-size: 1.6rem;
    color: #757575;
  }

  .email-label.is--active {
    color: #e50914;
    top: 10px;
    left: 20px;
  }

  .error-msg.is--invalid {
    color: #e50914;
    left: 20px;
    bottom: -20px;
  }
}
