<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인,30일 무료이용버튼</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="/js/login.js" defer></script>
  </head>
  <body>
    <!-- 로그인 버튼 -->
    <a class="link-btn login-btn" href="/"> 로그인 </a>

    <!-- 이메일 - 30일 무료 이용  -->
    <form class="free-form" action="submit">
      <label id="activeLabel" class="email-label" for="email"
        >이메일주소
      </label>
      <input
        id="email"
        class="email-input"
        type="text"
        onkeyup="validateEmail()"
        onmousemove="transitionLabel()"
        onmouseout="backLabel()"
        onfocus="transitionLabel()"
        onblur="backLabel()"
      />
      <a id="validButton" class="link-btn free-btn" href="/"
        >30일 무료 이용
        <svg
          width="22"
          height="16"
          viewBox="0 0 22 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M15.3431 0.928941L21.7071 7.2929C22.0976 7.68343 22.0976 8.31659 21.7071 8.70712L15.3431 15.0711C14.9526 15.4616 14.3195 15.4616 13.9289 15.0711C13.5384 14.6806 13.5384 14.0474 13.9289 13.6569L18.5858 9.00001H1C0.447715 9.00001 0 8.55229 0 8.00001C0 7.44772 0.447715 7.00001 1 7.00001H18.5858L13.9289 2.34315C13.5384 1.95263 13.5384 1.31947 13.9289 0.928941C14.3195 0.538416 14.9526 0.538416 15.3431 0.928941Z"
            fill="white"
          />
        </svg>
      </a>
      <span id="errorMsg" class="error-msg is--invalid"></span>
    </form>
  </body>
</html>
